<% if resource.errors.any? %>
  <div id="error_explanation">
    
      <% resource.errors.full_messages.each do |message| %>
      <script>alert("<%= message %>");</script>
        
      <% end %>
    
  </div>
<% end %>
