
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
$(function(){
      $('#menu').remove();   
});
    
</script>


  
    <div id="top_title_white">타입 선택</div>
    


<div id="wrap" class="page_select">


<form action= "/login/choose/<%= current_user.id %>" method="post">
  <input type="hidden" name="usertype" value="0">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit" class="btn_select_type"><span>일자리를 구하시나요?</span><br>알바생으로 가입하기</button>
</form>
<form action= "/login/choose/<%= current_user.id %>" method="post">
  <input type="hidden" name="usertype" value="1">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit" class="btn_select_type"><span>알바생을 찾으시나요?</span><br>업주로 가입하기</button>
</form>

</div>