<div id="wrap" class="st_info">

    
  <div id="top_title2"><i class="fas fa-chevron-left" onClick="history.back();"></i> 공지사항</div>
  
  <style>

    #accordion {font-family:Noto Sans kr;font-size:11pt;color:#8a8a8a;}
    #accordion h3 {background:none;font-size:12pt;line-height:55px;border:0;border-bottom:1px solid #ddd;padding-left:30px;}
    #accordion div {border:0;}
    .ui-state-active {font-weight:bold;}
  </style>
  


  
  
  <div id="accordion"  class="wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
  <h3>공지사항 제목 제목 제목</h3>
  <div>
    <p>
    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3>공지사항 제목 제목 제목</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    suscipit faucibus urna.
    </p>
  </div>
  <h3>공지사항 제목 제목 제목</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>공지사항 제목 제목 제목</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>
  
</div><!--wrap-->


  
  
  
  
<script>
$(function() {
 $( "#accordion" ).accordion({ active: false, collapsible: true });
} );
</script>


